<form action="/users" method="POST">
  <div class="mt-5 text-center">
    <h1 class="mt-5 text-center">Account Login</h1>
    <div>
      <input class="mt-4 input-lg" type="text" name="email" placeholder="Email" required />
    </div>
    <div>
      <input class="mt-4 input-lg" type="password" name="password" placeholder="Password" required />
    </div>
    <div class="mt-4">
      <button class="btn btn-primary shorten" type="submit">Sign in</button>
    </div>
  </div>